/* * {
  position: static;
} */
/* body {
  font: 1.3rem/1 "Avenir LT W02 45 Book",sans-serif;
  color: #5c5c5f;
  background: #fdfdf9;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
} */
/**** PromoHeader ****/
.promo-pre-title {
  vertical-align: middle;
  font: italic 0.8rem/2 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .12rem;
  text-decoration: none;
  padding: 0 17.5px;

}
.promo-container {
  background-color: #f17960;
  text-align: center;
  margin: 0;
  padding-top: 0;
  border: 0;

}
.promo-title {
  /* display: block; */
  vertical-align: middle;
  font: 1.0rem/1.5 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .12rem;
  padding: 0 17.5px;
  
}
.promo-links {
  padding: 0 17.5px;
  
}

.promo-link {
  letter-spacing: .06rem;
  text-decoration: underline;
  padding: 0 17.5px;
  vertical-align: middle;
  font: 0.7rem/2 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .12rem;
  color: inherit;
  line-height: 24px;
  vertical-align: baseline;
  box-sizing: border-box;
}

.promo-link:hover { 
  color: #C00F16;
  cursor: pointer;
  text-decoration: none;
}
.promo-banner {
  justify-content: center;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 10px 0;
}

.header-container {
  max-width: 1441px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  position: static;
  justify-content: space-around;
}
/**** SiteHeader ****/
#brand {
  padding-top: 10px;
  align-content: center;
  padding-left: 100px;
  cursor: pointer;
}

#right-header {
  width: 25%;
  justify-content: flex-start;
  padding-left: 270px;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

.header-link {
  text-decoration: none;
  padding: 0 7px;
  vertical-align: middle;
  font: 0.7rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .10rem;
  color: #25262c;
}
.full-topbar {
  position: static; 
}
.header-link:hover { 
  color: #167a92;
  cursor: pointer;
  text-decoration: none;
}

.dropdownTriangle {
  padding-top: 4px;
  vertical-align: baseline;

}

.shoppingBag {
  padding-top: 4px;
  vertical-align: baseline;

}

/**** Search ****/
.search-container {
  display: inline-block;
  width: 33.33333%;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
}

.search {
  border-bottom: 1px solid #c9c0b5;
  background-color: #fdfdf9;
  margin-left: 80px;
  padding: 7px 30px 0 0;
  font: 0.8rem/1.6 "Avenir LT W02 65 Medium",sans-serif;
  color: #167a92;
  letter-spacing: .06rem;
  vertical-align: middle;
  transition: width .2s ease-in-out;
  width: 180px;
  border: none;
}
.search:focus {
border-color: #059fb0;
}
.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  top: -4px;
  padding-left: 52px;
}

input {
    /* color: #167a92; */
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  color: #167a92;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

/**** MainNavigation ****/
/* .nav {
  overflow: hidden;
} */

ul li {
  display: inline;
  text-align: center;
}

.category {
  text-decoration: none;
  color: #26262c;
  font: 0.8rem/1.5 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  padding: 0 15px 10px;
  vertical-align: baseline;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0;
  position:static;
}

/* #one #two #three #four #five #six #seven #eight #nine #ten #eleven #twelve {
  position: absolute;
} */
.one:hover ~ hr {
  margin-left: 1.3%;
  background: #167a92;

}
.two:hover ~ hr {
  margin-left: 7%;
  background: #167a92;

}

.three:hover ~ hr {
  margin-left: 13.5%;
  background: #167a92;

}

.four:hover ~ hr {
  margin-left: 19%;
  background: #167a92;

}
.five:hover ~ hr {
  margin-left: 24.1%;
  background: #167a92;

}

.six:hover ~ hr {
  margin-left: 31.1%;
  background: #167a92;

}

.seven:hover ~ hr {
  margin-left: 41.6%;
  background: #167a92;

}
.eight:hover ~ hr {
  margin-left: 52.75%;
  background: #167a92;

}

.nine:hover ~ hr {
  margin-left: 63%;
  background: #167a92;

}

.ten:hover ~ hr {
  margin-left: 69.7%;
  background: #167a92;

}

.eleven:hover ~ hr {
  margin-left: 77.5%;
  background: #167a92;

}

.twelve:hover ~ hr {
  margin-left: 86.25%;
  background: #167a92;
}

hr {
  height: .07rem;
  width: 2%;
  margin: 0;
  background: transparent;
  border: none;
  transition: .3s ease-in-out;
  z-index: 21;
}

/**** Categories ****/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-img {
  display: inline-block;
  /* max-width: 100%; */
  height: 180px;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  padding-right: 25px;
  padding-top: 25px;
}

.navbar {
  overflow: hidden;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 130px;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
  top: -2px;
  position: relative;
  z-index: 21;
}

.navbar .category-link {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.category-link:hover {
  color: #167a92;
}

.dropdown-content {
  display: none;
  top: 150px;
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
  background-color: #fdfdf9;

}

.dropdown-content .header {
  padding: 16px;
  color: #fdfdf9;
}

.dropdown {
  background-color: #fdfdf9;
  /* opacity: 70%; */
  z-index: 1000;
  overflow-y:inherit !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: inherit;
  height: auto;
}
.category-container {
  padding-left: 140px;
  padding-right: 40px;
  display: flex;
  /* opacity: 70%; */
}
.column3 {
  float: left;
  width: 27.33333%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: inherit;
  height: auto;
}
.category-container3 {
  padding-left: 200px;
  padding-right: 50px;
  display: flex;
  /* opacity: 70%; */
}
.column .category-link  {
  float: none;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  font: 0.7rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .10rem;
  color: #25262c;
}
/* .category-border {
  width: 1px;
  height: 40px;
  border-left: #5c5c5f
} */
.inspired {
  font-weight: bold; 
  cursor: none;
  color: #26262c;
}
.category-link:hover {
  color: #167a92;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/**** SearchResults ****/

.suggestions-box {
  z-index: 22;
  overflow: hidden;
  width: 777px;
  height: 370px;
  display: flex;
  position: fixed;
  background: #fdfdf9;
  border: 1px solid #ccc;
  opacity: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.trending {
  width: 275px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  vertical-align: baseline;
  position: relative;
  display: wrap-flex;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 1;

}
.tiny {
  position: absolute;
  margin-left: -13%;
}

.trend-h {
  margin-bottom: 20px;
  font: 0.9rem/1.5 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  color: #2d2d31;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 1.1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.popular-h {
  margin-bottom: 20px;
  font: 0.9rem/1.5 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  color: #26262c;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 1.1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.trend {
  flex-flow: column-reverse;
  list-style: none;
  font: 0.7rem "Avenir LT W02 45 Book",sans-serif;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  align-items: center;
  margin-right: 10px;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100vw - 40px);
  letter-spacing: .06rem;
  text-decoration: none;
  color: #25262c;
  cursor: pointer;
}

.trend:hover {
  color: #167a92;
}

.trend:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: url(/static/2.36.0/images/global/icons/icon-search.svg);
  background-repeat: no-repeat;
}

.trending img {
  padding-left: 20px;
  padding-right: 400px;


}
.popular-products {
  display: inline-block;
  width: 520px;
  border-left: 1px solid #ccc;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: baseline;
  position: relative;
  left: 0;
}
.popular {
  flex-wrap: wrap;
  float: left;
  width: min-content;
  text-align: left;
  cursor: pointer;
}

.title {
  position: relative;
  font: 0.8rem/1 "Avenir LT W02 65 Medium",sans-serif;
  padding: 5px;
  text-align: inherit;
  letter-spacing: .06rem;
  font-weight: 300;
}

.result-img {
  display: inline-flex;
  width: 155px;
  height: 230px;
  padding: 5px;
}

.suggestion {
  padding: 5px 30px 9px;
  margin-bottom: 0;
  font: 0.7rem/0.1 "Avenir LT W02 45 Book",sans-serif;
  letter-spacing: .06rem;
  text-decoration: none;
  color: #26262c;
  width: 100%;
  display: inline-block;
  line-height: 1.3;
  cursor: pointer;
}

.suggestion:hover {
  color: #167a92;
}

.suggestions-box-searched {
  overflow: hidden;
  width: 828px;
  height: 420px;
  display: flex;
  position: fixed;
  background: #fdfdf9;
  border: 1px solid #ccc;
  opacity: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 22;
}

#results-container {
  width: 320px;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  position: relative;
  display: wrap-flex;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 15px;
  /* overflow: auto;
  overflow-y: auto; */
}
.trending-searched {
  width: 340px;
  margin: 0;
  padding-left: 20px;
  padding-right: 40px;
  border: 0;
  vertical-align: baseline;
  position: relative;
  display: wrap-flex;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* overflow: auto;
  overflow-y: auto; */
}

.tiny-searched {
  position: absolute;
  margin-left: -4.6%;
}

/**** Language ****/

.dropdown-language {
  position: relative;
  display: inline-block;
  z-index: 22;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 190px;
  height: auto;
  background: #fdfdf9;
  border: 1px solid #ccc;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.dropdown-content-column {
  padding: 12px;
  width: 50%;
  float: left;
  height: auto;
}

.other-option {
  padding: 6px;
  color: #2d2d31;
  margin-bottom: 20px;
  font: 0.6rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  font-size: 0.85em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
  cursor: pointer;
}

.language-title {
  padding: 6px;
  color: #2d2d31;
  margin-bottom: 20px;
  font: 0.6rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  font-size: 0.85em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
}

.chosen-option {
  padding: 6px;
  color: #167a92;
  margin-bottom: 20px;
  font: 0.6rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .06rem;
  font-size: 0.85em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
  cursor: pointer;
} 

.chosen-option .other-option{
  cursor: pointer;
}

.other-option:hover {
  color: #167a92;
}

.dropdown-language:hover .language-dropdown-content {
  display: flex;
}

/**** Login ****/
/* #grayout {
  filter: alpha(opacity=50);
}

* html #grayout {
  position: absolute;
}
#grayout {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
} */

.X {
  float: right;
  position: relative;
  top: -40px;
  right: -28px;
  cursor: pointer;
}
.fullscreen-container {
  /* display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.3);
  z-index: 9999;
}
.login-modal {
  position: fixed;
  z-index: 10000;
  background: #fdfdf9;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-y: auto;
  top: 10%;
  left: 32.2%;
  min-height: initial;
  height: auto;
  max-height: 90%;
  margin: auto 0;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  width: 450px;
}

.sign-in {
  padding-top: 15px;
  margin-top: 40px;
  font: 1.3rem/1.3 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .11rem;
  color: #26262c;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939395;
  padding: 0 30px 5px;
  text-align: center;
}

.sign-up {
  font: 1.3rem/1.3 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .11rem;
  color: #26262c;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #939395;
  padding: 0 30px 5px;
  text-align: center;
  padding-top: 30px;
}

.login-input-label {
  margin-bottom: 20px;
  font: 0.8rem/1.3 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .11rem;
  text-transform: uppercase;
  color: #26262c;
}

.login-input-box {
width: 100%;
padding: 18px;
margin-bottom: 0;
border: 1px solid #939395;
border-radius: 0;
color: #26262c;
font: 0.9rem/1.4 "Avenir LT W02 65 Medium",sans-serif;
letter-spacing: .06rem;
-webkit-appearance: none;
}

.psw {
  text-decoration: none;
  color: #167a92;
  display: inline-block;
  margin-bottom: 15px;
  font: 0.8rem/1 "Avenir LT W02 45 Book",sans-serif;
  cursor: pointer;
}

#sumbit-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.psw:hover {
  text-decoration: underline;
}

#cancel:hover {
  text-decoration: underline;
}

#submit {
display: inline-block;
  width: 68%;
  margin-bottom: 20px;
  padding: 14px 10px 13px;
  border: 1px solid #4b5666;
  border-radius: 0;
  font: 0.8rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .24rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #4b5666;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background-color 200ms ease-in-out,border-color 200ms ease-in-out;
}

#cancel {
  padding-left: 45px;
  display: inline-block;
  color: #4b5666;
  font: 0.8rem/1 "Avenir LT W02 45 Book",sans-serif;
  letter-spacing: .06rem;
  border: none;
  border-radius: 0;
  text-decoration: underline;
  cursor: pointer;
  background: 0 0;
  -webkit-appearance: none;
  margin: 15px 20px 20px 0;
  text-decoration: none;
  color: #167a92;
}
#create-account:hover {
  color: #fff;
  background: #4b5666;
}

#create-account {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 10px 13px;
  border: 1px solid #4b5666;
  border-radius: 0;
  font: 0.8rem/1 "Avenir LT W02 65 Medium",sans-serif;
  letter-spacing: .24rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #4b5666;
  background: #fdfdf9;
  transition: background-color 200ms ease-in-out,border-color 200ms ease-in-out;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
  text-align: center;
}

#submit:hover {
  color: #4b5666;
  background: #fdfdf9;
  }
  
.login-container {
  padding-top: 15px;
  padding-bottom: 15px;
}  
